@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --lightps: 210 28% 5%;

    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 220 97% 66%;
    --primary-foreground: 0 0% 9%;
    --secondary: 200 76% 67%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 169 94% 48%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 9%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 169 94% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --lightps: 210 28% 5%;

    --foreground: 0 0% 91%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 91%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 91%;
    --primary: 220 96% 34%;
    --primary-foreground: 0 0% 91%;
    --secondary: 200 76% 33%;
    --secondary-foreground: 0 0% 91%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 91%;
    --accent: 169 94% 52%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 169 94% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
